.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 5px;
  min-height: 100vh;
}

.grid-container > header,
.grid-container > footer {
  max-height: 10vh;
}

.grid-container > header,
.grid-container > main,
.grid-container > footer {
  margin: auto;
  max-width: 600px;
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
}

.header {
  grid-area: header;
  max-height: 10vh;
}

.main {
  grid-area: main;
  height: 80vh;
}
.footer {
  grid-area: footer;
  height: 10vh;
}

main {
  display: grid;
  width: 94vw;
  margin-left: 3vw;
  grid-template-areas:
    "inputgrid inputgrid"
    "tempnowgrid sungrid"
    "foregrid foregrid"
    "mapgrid else";
  gap: 30px;
}

.sectionhead {
  color: white;
  /* padding:3px; */
  font-weight: 100;
  margin: auto;
  width: fit-content;
  margin-top: -20px;
  background-color: rgba(128, 128, 128, 0.274);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.582);
  border-radius: 20px;
  font-size: x-small;
  margin-bottom: 20px;
}

main > div,
main > section {
  background-color: rgba(42, 27, 77, 0.8);
  color: aliceblue;
  border-radius: 30px;
  text-align: center;
  /* padding: 5px 5px; */
  font-size: 15px;
  box-shadow: 0 0 10px var(--col2);
}

/* need to get the image to be contained withtin the div */
/* i was trying to get it as the background of the div but i struggled */
.mapgrid {
  grid-area: mapgrid;
}

.foregrid {
  grid-area: foregrid;
}

.else {
  grid-area: else;
}

/* forecast */
.gridmain {
  display: grid;
  grid-template-areas:
    "forehead forehead forehead forehead forehead forehead forehead"
    "foreday foreday foreday foreday foreday foreday foreday ";
}

.forehead {
  grid-area: forehead;
}

/* individual icons css */
.inputgrid {
  grid-area: inputgrid;
  height: fit-content;
  margin: auto;
  width: 94vw;
  max-width: 400px;

  & button {
    max-width: 30%;
    border-radius: 30px;
    padding: 15px 20px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    /* height: inherit; */
  }
  & input {
    width: 70%;
    /* color:#D46A6A; */
    /* display:block; */
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 0;
  }
}

.tempnowgrid {
  grid-area: tempnowgrid;
  /* background-color: var(--col5); */
  #county-post {
    display: flex;
    /* align-items:; */
    padding-left: 20px;
    padding-bottom: 5px;
    text-align: left;
    /* margin-right: 0; */
    /* display: table-row; */
  }
  /* need icons for formatting */
  #current {
    padding-right: 20px;
    text-align: right;
  }
}

.sungrid {
  grid-area: sungrid;
  & #currentsun {
    display: flex;
  }
  & p {
    margin: auto;
    padding: 10px 0;
    padding-bottom: 0;
  }
}

.foreday {
  grid-area: "foreday foreday foreday foreday foreday foreday foreday ";
  padding-top: 0;
  margin-top: -10px;
  .dayofweek {
    font-size: small;
  }
  .maxtemp {
    font-weight: bolder;
  }
  .mintemp {
    font-size: lighter;
  }
  .forecast_icon {
    padding: 5px;
    color: white;
  }
}

/* @media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
  main {
    min-height: 80vh;
    display: grid;
    grid-template-areas:
      "inputgrid inputgrid inputgrid inputgrid"
      "tempnowgrid sungrid sungrid sungrid"
      "foregrid foregrid mapgrid mapgrid";
    gap: 10px;
    background-color: pink;
    padding: 1px;
    width: 100vw;
  }
} */
