.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 5px;
  min-height: 100vh;
}

.grid-container > header,
.grid-container > footer {
  max-height: 10vh;
}

.grid-container > header,
.grid-container > main,
.grid-container > footer {
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
}

.header {
  grid-area: header;
  max-height: 10vh;
}

.main {
  grid-area: main;
  height: 80vh;
}
.footer {
  grid-area: footer;
  height: 10vh;
}

main {
  display: grid;
  width: 94vw;
  margin-left: 3vw;
  grid-template-areas:
    "inputgrid inputgrid"
    "tempnowgrid sungrid"
    "foregrid foregrid"
    "mapgrid mapgrid";
  gap: 30px;
}

.sectionhead{
  color:white;
  /* padding:3px; */
  font-weight:100;
  margin: auto;
  width:fit-content;
  margin-top:-20px;
  background-color: rgba(128, 128, 128, 0.274);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.582);
  border-radius: 20px;
  font-size: x-small;
}

main > div,
main > section {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
}


.sungrid {
  grid-area: sungrid;
}

.mapgrid {
  grid-area: mapgrid;
}

.foregrid {
  grid-area: foregrid;
}

/* forecast */
.gridmain {
  display: grid;
  grid-template-areas:
    "forehead forehead forehead forehead forehead forehead forehead"
    "day day day day day day day ";
}

.forehead{
  grid-area: forehead
}

/* @media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
  main {
    min-height: 80vh;
    display: grid;
    grid-template-areas:
      "inputgrid inputgrid inputgrid inputgrid"
      "tempnowgrid sungrid sungrid sungrid"
      "foregrid foregrid mapgrid mapgrid";
    gap: 10px;
    background-color: pink;
    padding: 1px;
    width: 100vw;
  }
} */
