* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-one: ;
  --color-two: ;
  --color-three: #e0f3f3;
}

/* background gradient */
:root{
  --col3:rgb(255, 212, 133);
  --col2:rgb(255, 255, 132);
}

body {
  background: var(--col3);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,var(--col3)), color-stop(100%,var(--col2)));
  background: -webkit-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:    -moz-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:     -ms-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:      -o-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:         linear-gradient(to bottom, var(--col3) 0%,var(--col2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--col3), endColorstr=var(--col2),GradientType=0 );
}

/* individual icons css */
.inputgrid {
  grid-area: inputgrid;
  height: fit-content;
  margin:auto;
  width:94vw;
  max-width: 400px;

  & button{
    max-width: 30%;
    border-radius: 30px;
    padding:15px 20px;
    border:none;
    background:rgba(255,255,255,0.1);
    /* height: inherit; */
  }
  & input{
    width:70%;
    /* color:#D46A6A; */
    /* display:block; */
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,0.1);
    margin-left:0;
  }
}

.tempnowgrid {
  grid-area: tempnowgrid;
}