* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
  font-size: xx-large;
}

h4{
  font-weight: 100;
}

/* background gradient */
:root{
  --col3:#C0A9B0;
  --col2:#6BBAEC;

  /* only using 2 and 3 so far */
  --col1:#6987C9;
  --col4:#BCC4DB;
  --col5:#7880B5;
}

body {
  background: var(--col3);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,var(--col3)), color-stop(100%,var(--col2)));
  background: -webkit-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:    -moz-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:     -ms-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:      -o-linear-gradient(top,  var(--col3) 0%, var(--col2) 100%);
  background:         linear-gradient(to bottom, var(--col3) 0%,var(--col2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--col3), endColorstr=var(--col2),GradientType=0 );
}

