@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --col3: #cac8f3;
  --col2: #6bbaec;
  --col1: #021057;
  --col4: aliceblue;
  --col5: rgba(0, 0, 0, 0.24);
}
body {
  background: var(--col3);
  background-image: linear-gradient(
      rgba(6, 3, 69, 0.753),
      rgba(169, 198, 241, 0.571)
    ),
    url("../utils/icons/peter-hulce-YYkvhwIgs3g-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
h1 {
  font-size: 2em;
  padding: 30px;
  font-family: "Francois One", sans-serif;
  color: var(--col3);
}
h4 {
  font-weight: 100;
}
p {
  padding: 5px;
}
.icon {
  width: 4em;
  height: 4em;
}
.invalid-message {
  color: var(--col1);
  padding: 15px;
  display: none;
  font-weight: bold;
}
.forecast-message {
  display: flex;
  justify-content: start;
  padding: 10px 0;
  color: var(--col4);
  font-size: 1.3em;
  font-weight: lighter;
}
.logo {
  font-size: 1.2em;
  background-color: var(--col1);
  color: var(--col3);
  border-radius: 10px;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
